name: Create GitHub release
on:
  push:
    tags: ['v*']

jobs:
  publish_binaries:
    name: Publish binaries
    runs-on: [windows-latest]
    strategy:
      matrix:
        architecture:
          - win-x64
          - win-x86
          - linux-x64
          - linux-arm64
          - osx-x64
    env:
      release: 'dev-proxy-${{ matrix.architecture }}-${{ github.ref_name }}'
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Publish ${{ matrix.architecture }}
        run: dotnet publish ./dev-proxy/dev-proxy.csproj -c Release -p:PublishSingleFile=true -p:InformationalVersion=$("${{ github.ref_name }}".Substring(1)) -r ${{ matrix.architecture }} --self-contained -o ./${{ env.release }}
      - name: Build plugins
        run: dotnet build ./dev-proxy-plugins/dev-proxy-plugins.csproj -p:InformationalVersion=$("${{ github.ref_name }}".Substring(1)) -c Release -r ${{ matrix.architecture }} --no-self-contained
      - name: Build abstractions
        if: matrix.architecture == 'win-x64'
        run: dotnet build ./dev-proxy-abstractions/dev-proxy-abstractions.csproj -p:InformationalVersion=$("${{ github.ref_name }}".Substring(1)) -c Release --no-self-contained
      - name: Add plugins to output
        run: cp ./dev-proxy/bin/Release/net8.0/${{ matrix.architecture }}/plugins ./${{ env.release }} -r
      - name: Remove unnecessary files
        run: |
          pushd
          cd ./${{ env.release }}
          Get-ChildItem -Filter *.pdb -Recurse | Remove-Item
          Get-ChildItem -Filter *.deps.json -Recurse | Remove-Item
          Get-ChildItem -Filter *.runtimeconfig.json -Recurse | Remove-Item
          popd
      - name: Archive release ${{ env.release }}
        uses: thedoctor0/zip-release@master
        with:
          filename: '../${{ env.release }}.zip'
          directory: './${{ env.release }}'
      - name: Release SHA256 hash
        run: |
          $(Get-FileHash ./${{ env.release }}.zip -Algorithm SHA256).Hash
      - name: Upload release
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ env.release }}
          path: ./${{ env.release }}.zip
      - name: Archive abstractions
        if: matrix.architecture == 'win-x64'
        uses: thedoctor0/zip-release@master
        with:
          filename: '../../../../dev-proxy-abstractions-${{ github.ref_name }}.zip'
          directory: './dev-proxy-abstractions/bin/Release/net8.0'
          exclusions: '*.json'
      - name: Upload abstractions
        if: matrix.architecture == 'win-x64'
        uses: actions/upload-artifact@v4
        with:
          name: binaries-dev-proxy-abstractions-${{ github.ref_name }}
          path: ./dev-proxy-abstractions-${{ github.ref_name }}.zip
      - name: Add installer icon
        if: contains(matrix.architecture, 'win-')
        run: cp ./media/icon.ico ./${{ env.release }}
      - name: Set installer file name
        id: installer
        if: contains(matrix.architecture, 'win-')
        run: |
          if ('${{ github.ref_name }}'.Contains('beta')) {
              Write-Output "filename=install-beta.iss" >> $env:GITHUB_OUTPUT
          } else {
              Write-Output "filename=install.iss" >> $env:GITHUB_OUTPUT
          }
      - name: Add install file
        if: contains(matrix.architecture, 'win-')
        run: cp ./${{ steps.installer.outputs.filename }} ./${{ env.release }}
      - name: Build Installer
        if: contains(matrix.architecture, 'win-')
        run: ISCC.exe ${{ steps.installer.outputs.filename }} /F"dev-proxy-installer-${{ matrix.architecture }}-${{ github.ref_name }}"
        working-directory: ./${{ env.release }}
      - name: Upload Installer
        if: contains(matrix.architecture, 'win-')
        uses: actions/upload-artifact@v4
        with:
          name: installer-dev-proxy-${{ github.ref_name }}-${{ matrix.architecture }}
          path: ./${{ env.release }}/dev-proxy-installer-${{ matrix.architecture }}-${{ github.ref_name }}.exe
  create_release:
    name: Create Release
    needs: [publish_binaries]
    environment:
      name: gh_releases
    runs-on: [windows-latest]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: output
      - name: Release
        uses: anton-yurchenko/git-release@v6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DRAFT_RELEASE: "false"
          PRE_RELEASE: "false"
          CHANGELOG_FILE: "CHANGELOG.md"
          ALLOW_EMPTY_CHANGELOG: "true"
        with:
          args: |
              output/binaries-*/*.zip
              output/installer-*/*.exe